<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Review</title>
</head>

<body
	style="background-color: #f4f4f4; font-family: Calibri Light; margin: 50px; border-spacing: 10px">


	<div th:each="review: ${reviews}">
		<header>
			<center>
				<h1 th:text="${review.ReviewTitle} + ' Review'"
					style="font-size: 35px;"></h1>
			</center>
		</header>

		<center>
			<img th:src="${review.image}"
				style="width: 350px; height: auto; border: #85959E 4px double" /> <strong><p
					th:text="${review.ReviewTitle}" style="font-size: 25px;" /></strong>
			<p>
				<a th:href="${review.Url}">Visit the site</a>
			</p>
			<p th:text="${review.Description}" />
			<a href="http://localhost:8080/reviews">Back to home</a>
		</center>
	</div>

</body>
</html>